{{ define "main" }}

{{ if .Site.Params.showCategoriesOnHomepage }}
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
{{ if gt (len $list) 0 }}
{{ if .Site.Params.sortTags }}
{{ $list = sort $list "Title" }}
{{ end }}
<div class="archive_categories">
  {{ range $list }}
  <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
  {{ end }}
</div>
{{ end }}
{{ end }}

<div class="home h-feed">
  <ul class="post-list">
    {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "paginate" | default
    20) }}
    {{ range $paginator.Pages }}
    {{ $postDateTimeSys := .Date.Format "2006-01-02T15:04:00Z" }}
    {{ $postDateTime := .Date.Format "January 2, 2006" }}
    {{ if .Site.Params.showPostTimeOnIndex}}
    {{ $postDateTime = .Date.Format "January 2, 2006 3:04pm" }}
    {{ end }}
    {{ if .Title }}
    <li class="h-entry post-list-item">
      <h2 class="p-name"><a href="{{ .Permalink }}" class="p-url post-list-item-title">{{ .Title }}</a></h2>
      <div class="post-list-item-content e-content">
        {{ partial "metadata.html" . }}
        {{ if .Site.Params.showFullPost }}
        {{ .Content }}
        {{ else }}
        <p class="p-summary">{{ .Summary | safeHTML}} <a href="{{ .Permalink }}" class="continue-link">Continue reading
            →</a></p>
        {{ end }}
        {{ if .Site.Params.showTinylyticsKudos }}<div class="cards-article-interactions">
          <div class="cards-kudos">
            <button class="tinylytics_kudos" data-path="{{ .Permalink }}" aria-label="Give Kudos" title="Give Kudos">
              <span class="visually-hidden">Give Kudos</span>
            </button>
          </div>
        </div>
        {{ end }}
      </div>
    </li>
    {{ else if in .RawContent "<!--more-->"}}
    <li class="h-entry post-list-item">
      <h2 class="p-name"><a href="{{ .Permalink }}" class="p-url post-list-item-title">{{ .Title }}</a></h2>
      <div class="post-list-item-content e-content">
        {{ partial "metadata.html" . }}
        {{ if .Site.Params.showFullPost }}
        {{ .Content }}
        {{ else }}
        <p class="p-summary">{{ .Summary | safeHTML}} {{- if .Truncated }}<a href="{{ .Permalink }}"
            class="continue-link">Continue reading
            →</a>{{
          end }}
        </p>
        {{ end }}
        {{ if .Site.Params.showTinylyticsKudos }}
        <div class="cards-article-interactions">
          <div class="cards-kudos">
            <button class="tinylytics_kudos" data-path="{{ .Permalink }}" aria-label="Give Kudos" title="Give Kudos">
              <span class="visually-hidden">Give Kudos</span>
            </button>
          </div>
        </div>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="h-entry post-list-item">
      <div class="post-list-item-content e-content">
        {{ partial "metadata.html" . }}
        {{ .Content }}
        {{ if .Site.Params.showTinylyticsKudos }}
        <div class="cards-article-interactions">
          <div class="cards-kudos">
            <button class="tinylytics_kudos" data-path="{{ .Permalink }}" aria-label="Give Kudos" title="Give Kudos">
              <span class="visually-hidden">Give Kudos</span>
            </button>
          </div>
        </div>
        {{ end }}
      </div>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
<div class="pagination">
  {{ if .IsHome }}
  {{ if .Site.Params.paginate_home }}
  {{ partial "pagination" . }}
  {{ end }}
  {{ else if .Site.Params.paginate_categories }}
  {{ partial "pagination" . }}
  {{ end }}
</div>
{{ end }}